{
  "parser": "babel-eslint",
  "extends": [
    "./.eslint-rules.js",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "node": true,
    "browser": true
  }
}
