@keyframes rotateCss {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Button {
  color: white;
  font-size: 50px;
  padding: 25px;
}

.Button[data-speed='1s'] {
  background: salmon;
}

.Button[data-speed='2s'] {
  background: darkOrange;
}

.Button[data-speed='3s'] {
  background: limeGreen;
}

.Button[data-speed='1s']:hover {
  background: red;
}

.Button[data-speed='2s']:hover {
  background: orange;
}

.Button[data-speed='3s']:hover {
  background: lime;
}

.Button * {
  animation-iteration-count: infinite;
  animation-name: rotateCss;
  animation-timing-function: linear;
}
